node-red/flows.json
[{"id":"6169ae85.ebde","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"6a24dcbb.10a694","type":"tab","label":"Освещение","disabled":false,"info":""},{"id":"6962e153.99eb9","type":"server","z":"","name":"Home Assistant"},{"id":"ac5fa68f.43b8d8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"bdf418b.1f78be8","type":"server-events","z":"6169ae85.ebde","name":"","server":"6962e153.99eb9","event_type":"","x":260,"y":160,"wires":[["dcd94a39.c2b028","1f644bb0.a40ea4"]]},{"id":"8b72a936.b722f8","type":"debug","z":"6169ae85.ebde","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.event.click_type","targetType":"msg","x":1140,"y":220,"wires":[]},{"id":"37299de2.451802","type":"server-state-changed","z":"6169ae85.ebde","name":"если свет включен","server":"6962e153.99eb9","version":1,"entityidfilter":"switch.plug_158d0002677bd3","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":290,"y":440,"wires":[[]]},{"id":"26782993.75cb46","type":"switch","z":"6169ae85.ebde","name":"On - Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":520,"y":400,"wires":[["6130733.f6d238c"],["a2831a30.988158"]]},{"id":"6130733.f6d238c","type":"api-call-service","z":"6169ae85.ebde","name":"обогреватель","server":"6962e153.99eb9","version":1,"service_domain":"switch","service":"turn_on","entityId":"switch.plug_158d00032d5e8b","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":770,"y":480,"wires":[["e32edc6a.351c7"]]},{"id":"e32edc6a.351c7","type":"debug","z":"6169ae85.ebde","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1030,"y":400,"wires":[]},{"id":"a2831a30.988158","type":"api-call-service","z":"6169ae85.ebde","name":"обогреватель","server":"6962e153.99eb9","version":1,"service_domain":"switch","service":"turn_off","entityId":"switch.plug_158d00032d5e8b","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":760,"y":560,"wires":[["e32edc6a.351c7"]]},{"id":"dcd94a39.c2b028","type":"switch","z":"6169ae85.ebde","name":"Переключатель/кнопка","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"binary_sensor.xiaomi_exit_switch_lobby_158d0002135c59","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":180,"wires":[["3da22e18.e8c702"]]},{"id":"3da22e18.e8c702","type":"switch","z":"6169ae85.ebde","name":"Кнопка на выходе. Тип нажатия","property":"payload.event.click_type","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"long_click_press","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":800,"y":80,"wires":[["8b72a936.b722f8","2841a9e6.18fbe6"],["8b72a936.b722f8","cbdadfef.70f29"],["8b72a936.b722f8"]]},{"id":"2841a9e6.18fbe6","type":"api-call-service","z":"6169ae85.ebde","name":"включить свет","server":"6962e153.99eb9","version":1,"service_domain":"switch","service":"turn_on","entityId":"switch.plug_158d0002677bd3","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1100,"y":80,"wires":[[]]},{"id":"cbdadfef.70f29","type":"api-call-service","z":"6169ae85.ebde","name":"включить свет","server":"6962e153.99eb9","version":1,"service_domain":"switch","service":"turn_off","entityId":"switch.plug_158d0002677bd3","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1100,"y":140,"wires":[[]]},{"id":"1f644bb0.a40ea4","type":"switch","z":"6169ae85.ebde","name":"Целевая влажность","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"input_number.xiaomi_humidifier_bedroom_target_hum","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":240,"wires":[[]]},{"id":"7e5d8dc6.bc47d4","type":"debug","z":"6169ae85.ebde","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":280,"wires":[]},{"id":"ec4d0e83.075d","type":"server-state-changed","z":"6169ae85.ebde","name":"Целевая влажность","server":"6962e153.99eb9","version":1,"entityidfilter":"input_number.xiaomi_humidifier_bedroom_target_hum","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":310,"y":320,"wires":[["7e5d8dc6.bc47d4","d22711e6.2673d"]]},{"id":"b03516e7.89d998","type":"api-call-service","z":"6169ae85.ebde","name":"target hum","server":"6962e153.99eb9","version":1,"service_domain":"fan","service":"xiaomi_miio_set_target_humidity","entityId":"fan.xiaomi_humidifier_bedroom","data":"{\"humidity\":\"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":620,"y":360,"wires":[["7e5d8dc6.bc47d4"]]},{"id":"2f76de6f.658c22","type":"inject","z":"6169ae85.ebde","name":"50","topic":"data","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":560,"wires":[["b03516e7.89d998","d22711e6.2673d"]]},{"id":"d22711e6.2673d","type":"debug","z":"6169ae85.ebde","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":560,"wires":[]},{"id":"12c41a6a.f1de76","type":"server-state-changed","z":"6a24dcbb.10a694","name":"Движение в ванной","server":"6962e153.99eb9","version":1,"entityidfilter":"binary_sensor.xiaomi_motion_bathroom_158d0002b6e8e6","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":100,"wires":[["fecba39c.3a198"],[]]},{"id":"b6033392.b4a27","type":"trigger","z":"6a24dcbb.10a694","op1":"","op2":"off","op1type":"nul","op2type":"str","duration":"5","extend":true,"units":"min","reset":"","bytopic":"all","name":"Выключение 5 минут","x":1060,"y":80,"wires":[["32aef640.2ec2fa","61c91bef.adffb4"]]},{"id":"fecba39c.3a198","type":"api-current-state","z":"6a24dcbb.10a694","name":"Режим авто включен?","server":"6962e153.99eb9","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.auto_light_switch_bedroom","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":320,"y":100,"wires":[["80c4d1f9.db6f9"],[]]},{"id":"80c4d1f9.db6f9","type":"api-current-state","z":"6a24dcbb.10a694","name":"Свет включен?","server":"6962e153.99eb9","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.gateway_light_7c49eb1babbf","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":540,"y":100,"wires":[["a35bf8a1.61f748"],["190ed18e.6376ee"]]},{"id":"a35bf8a1.61f748","type":"switch","z":"6a24dcbb.10a694","name":"Автоматизация?","property":"my_auto","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":60,"wires":[["b6033392.b4a27"]]},{"id":"dc42f363.01c3","type":"change","z":"6a24dcbb.10a694","name":"Старт автоматизации ","rules":[{"t":"set","p":"my_auto","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":200,"wires":[[]]},{"id":"32aef640.2ec2fa","type":"change","z":"6a24dcbb.10a694","name":"Стоп автоматизация","rules":[{"t":"set","p":"my_auto","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":60,"wires":[[]]},{"id":"20483881.10cf38","type":"api-call-service","z":"6a24dcbb.10a694","name":"Включить свет","server":"6962e153.99eb9","version":1,"service_domain":"light","service":"turn_on","entityId":"light.gateway_light_7c49eb1babbf","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1040,"y":140,"wires":[[]]},{"id":"61c91bef.adffb4","type":"api-call-service","z":"6a24dcbb.10a694","name":"Выключить свет","server":"6962e153.99eb9","version":1,"service_domain":"light","service":"turn_off","entityId":"light.gateway_light_7c49eb1babbf","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1330,"y":100,"wires":[[]]},{"id":"190ed18e.6376ee","type":"api-current-state","z":"6a24dcbb.10a694","name":"< 50 lx","server":"6962e153.99eb9","version":1,"outputs":2,"halt_if":"50","halt_if_type":"num","halt_if_compare":"lt","override_topic":false,"entity_id":"sensor.xiaomi_illumin_bathroom_158d0002b6e8e6","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":730,"y":140,"wires":[["b6033392.b4a27","20483881.10cf38","dc42f363.01c3"],[]]},{"id":"88084487.2a71c8","type":"comment","z":"6a24dcbb.10a694","name":"Подсветка в ванной","info":"","x":90,"y":40,"wires":[]},{"id":"83ce2c07.fbaa3","type":"server-events","z":"6a24dcbb.10a694","name":"","server":"6962e153.99eb9","event_type":"","x":80,"y":480,"wires":[["1079ba9.3aa4d45","43b2920d.b57dbc"]]},{"id":"56d40b0d.bacb94","type":"debug","z":"6a24dcbb.10a694","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":540,"wires":[]},{"id":"1079ba9.3aa4d45","type":"switch","z":"6a24dcbb.10a694","name":"Переключатель/кнопка","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"binary_sensor.xiaomi_exit_switch_lobby_158d0002135c59","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":420,"wires":[["2a8182fb.79f1de"]]},{"id":"2a8182fb.79f1de","type":"switch","z":"6a24dcbb.10a694","name":"Кнопка на выходе. Тип нажатия","property":"payload.event.click_type","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"long_click_press","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":620,"y":420,"wires":[["56d40b0d.bacb94","e8e4b586.dc8d78"],["56d40b0d.bacb94","6be51d53.94b124"],["56d40b0d.bacb94"]]},{"id":"e8e4b586.dc8d78","type":"api-call-service","z":"6a24dcbb.10a694","name":"Включить свет","server":"6962e153.99eb9","version":1,"service_domain":"switch","service":"turn_on","entityId":"switch.plug_158d0002677bd3","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":920,"y":400,"wires":[[]]},{"id":"6be51d53.94b124","type":"api-call-service","z":"6a24dcbb.10a694","name":"Выключить свет","server":"6962e153.99eb9","version":1,"service_domain":"switch","service":"turn_off","entityId":"switch.plug_158d0002677bd3","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":930,"y":460,"wires":[[]]},{"id":"43b2920d.b57dbc","type":"switch","z":"6a24dcbb.10a694","name":"Выключатель на шкафу","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"binary_sensor.xiaomi_wall_switch_bedroom_158d000230d4a2","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":340,"wires":[["90ab1a30.408168"]]},{"id":"90ab1a30.408168","type":"api-call-service","z":"6a24dcbb.10a694","name":"Включить ночник","server":"6962e153.99eb9","version":1,"service_domain":"switch","service":"toggle","entityId":"switch.plug_158d0002677bd3","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":590,"y":340,"wires":[[]]},{"id":"618e821.e9bd37c","type":"comment","z":"6a24dcbb.10a694","name":"Реагирование на события","info":"","x":110,"y":300,"wires":[]}]