node-red/flows.json
[{"id":"6169ae85.ebde","type":"tab","label":"Примеры","disabled":true,"info":""},{"id":"6a24dcbb.10a694","type":"tab","label":"Освещение","disabled":false,"info":""},{"id":"8d422126.121a1","type":"tab","label":"Оповещения","disabled":false,"info":""},{"id":"ee1a9216.12937","type":"tab","label":"Тест","disabled":false,"info":""},{"id":"6962e153.99eb9","type":"server","z":"","name":"Home Assistant"},{"id":"ac5fa68f.43b8d8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2b17670e.b5c0f8","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"12c41a6a.f1de76","type":"server-state-changed","z":"6a24dcbb.10a694","name":"Движение в ванной","server":"6962e153.99eb9","version":1,"entityidfilter":"binary_sensor.xiaomi_motion_bathroom_158d0002b6e8e6","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":100,"wires":[["fecba39c.3a198"],[]]},{"id":"b6033392.b4a27","type":"trigger","z":"6a24dcbb.10a694","op1":"","op2":"off","op1type":"nul","op2type":"str","duration":"5","extend":true,"units":"min","reset":"","bytopic":"all","name":"Выключение 5 минут","x":1060,"y":80,"wires":[["32aef640.2ec2fa","61c91bef.adffb4"]]},{"id":"fecba39c.3a198","type":"api-current-state","z":"6a24dcbb.10a694","name":"Режим авто включен?","server":"6962e153.99eb9","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.auto_light_switch_bedroom","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":340,"y":100,"wires":[["80c4d1f9.db6f9"],[]]},{"id":"80c4d1f9.db6f9","type":"api-current-state","z":"6a24dcbb.10a694","name":"Свет включен?","server":"6962e153.99eb9","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.gateway_light_7c49eb1babbf","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":560,"y":100,"wires":[["a35bf8a1.61f748"],["190ed18e.6376ee"]]},{"id":"a35bf8a1.61f748","type":"switch","z":"6a24dcbb.10a694","name":"Автоматизация?","property":"my_auto","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":60,"wires":[["b6033392.b4a27"]]},{"id":"dc42f363.01c3","type":"change","z":"6a24dcbb.10a694","name":"Старт автоматизации ","rules":[{"t":"set","p":"my_auto","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":200,"wires":[[]]},{"id":"32aef640.2ec2fa","type":"change","z":"6a24dcbb.10a694","name":"Стоп автоматизация","rules":[{"t":"set","p":"my_auto","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":60,"wires":[[]]},{"id":"20483881.10cf38","type":"api-call-service","z":"6a24dcbb.10a694","name":"Включить свет","server":"6962e153.99eb9","version":1,"service_domain":"light","service":"turn_on","entityId":"light.gateway_light_7c49eb1babbf","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1040,"y":140,"wires":[[]]},{"id":"61c91bef.adffb4","type":"api-call-service","z":"6a24dcbb.10a694","name":"Выключить свет","server":"6962e153.99eb9","version":1,"service_domain":"light","service":"turn_off","entityId":"light.gateway_light_7c49eb1babbf","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1330,"y":100,"wires":[[]]},{"id":"190ed18e.6376ee","type":"api-current-state","z":"6a24dcbb.10a694","name":"< 50 lx","server":"6962e153.99eb9","version":1,"outputs":2,"halt_if":"50","halt_if_type":"num","halt_if_compare":"lt","override_topic":false,"entity_id":"sensor.xiaomi_illumin_bathroom_158d0002b6e8e6","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":730,"y":140,"wires":[["b6033392.b4a27","20483881.10cf38","dc42f363.01c3"],[]]},{"id":"88084487.2a71c8","type":"comment","z":"6a24dcbb.10a694","name":"Подсветка в ванной","info":"","x":110,"y":40,"wires":[]},{"id":"83ce2c07.fbaa3","type":"server-events","z":"6a24dcbb.10a694","name":"","server":"6962e153.99eb9","event_type":"","x":80,"y":480,"wires":[["1079ba9.3aa4d45","43b2920d.b57dbc"]]},{"id":"56d40b0d.bacb94","type":"debug","z":"6a24dcbb.10a694","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":540,"wires":[]},{"id":"1079ba9.3aa4d45","type":"switch","z":"6a24dcbb.10a694","name":"Переключатель/кнопка","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"binary_sensor.xiaomi_exit_switch_lobby_158d0002135c59","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":420,"wires":[["2a8182fb.79f1de"]]},{"id":"2a8182fb.79f1de","type":"switch","z":"6a24dcbb.10a694","name":"Кнопка на выходе. Тип нажатия","property":"payload.event.click_type","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"long_click_press","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":620,"y":420,"wires":[["56d40b0d.bacb94","e8e4b586.dc8d78"],["56d40b0d.bacb94","6be51d53.94b124"],["56d40b0d.bacb94"]]},{"id":"e8e4b586.dc8d78","type":"api-call-service","z":"6a24dcbb.10a694","name":"Включить свет","server":"6962e153.99eb9","version":1,"service_domain":"switch","service":"turn_on","entityId":"switch.plug_158d0002677bd3","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":920,"y":400,"wires":[[]]},{"id":"6be51d53.94b124","type":"api-call-service","z":"6a24dcbb.10a694","name":"Выключить свет","server":"6962e153.99eb9","version":1,"service_domain":"switch","service":"turn_off","entityId":"switch.plug_158d0002677bd3","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":930,"y":460,"wires":[[]]},{"id":"43b2920d.b57dbc","type":"switch","z":"6a24dcbb.10a694","name":"Выключатель на шкафу","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"binary_sensor.xiaomi_wall_switch_bedroom_158d000230d4a2","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":340,"wires":[["90ab1a30.408168"]]},{"id":"90ab1a30.408168","type":"api-call-service","z":"6a24dcbb.10a694","name":"Включить ночник","server":"6962e153.99eb9","version":1,"service_domain":"switch","service":"toggle","entityId":"switch.plug_158d0002677bd3","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":590,"y":340,"wires":[[]]},{"id":"618e821.e9bd37c","type":"comment","z":"6a24dcbb.10a694","name":"Реагирование на события","info":"","x":130,"y":300,"wires":[]},{"id":"a1145bd3.bfae58","type":"api-call-service","z":"6169ae85.ebde","name":"Отправить push","server":"6962e153.99eb9","version":1,"service_domain":"notify","service":"all_notifiers","entityId":"","data":"{\"message\":\"Тестовая нотификация\",\"title\":\"Заголовок Push\",\"data\":{\"subtitle\":\"Подзаголовок\",\"push\":{\"thread-id\":\"example-notification-group\",\"badge\":\"0\"}}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":290,"y":80,"wires":[[]]},{"id":"fe8a5729.082a78","type":"inject","z":"6169ae85.ebde","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":80,"wires":[["a1145bd3.bfae58"]]},{"id":"6882506e.d0647","type":"api-call-service","z":"6169ae85.ebde","name":"Отправить динам. push","server":"6962e153.99eb9","version":1,"service_domain":"notify","service":"all_notifiers","entityId":"","data":"{\"message\":\"{{payload}}\",\"title\":\"Динамический PUSH с действием\",\"data\":{\"subtitle\":\"Подзаголовок\",\"push\":{\"thread-id\":\"example-notification-group\",\"badge\":\"0\"}}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":310,"y":180,"wires":[[]]},{"id":"1dd13918.951957","type":"inject","z":"6169ae85.ebde","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":180,"wires":[["6882506e.d0647"]]},{"id":"f045470a.3be468","type":"comment","z":"6169ae85.ebde","name":"Push с динамическим сообщением","info":"","x":160,"y":140,"wires":[]},{"id":"50773b7c.75efe4","type":"api-call-service","z":"6169ae85.ebde","name":"Отправить динам. push с action","server":"6962e153.99eb9","version":1,"service_domain":"notify","service":"all_notifiers","entityId":"","data":"{\"message\":\"{{payload}}\",\"title\":\"Динамический PUSH с действием\",\"data\":{\"subtitle\":\"Нажми на меня\",\"push\":{\"category\":\"test\",\"thread-id\":\"example-notification-group\",\"badge\":\"0\"}}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":340,"y":280,"wires":[[]]},{"id":"13527367.ad6bbd","type":"inject","z":"6169ae85.ebde","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":280,"wires":[["50773b7c.75efe4"]]},{"id":"991c69b4.d8e408","type":"comment","z":"6169ae85.ebde","name":"Push с динамическим сообщением и действием!","info":"","x":210,"y":240,"wires":[]},{"id":"5710f1bf.20b96","type":"comment","z":"6169ae85.ebde","name":"Push с обычным сообщением","info":"","x":150,"y":40,"wires":[]},{"id":"92afee7d.b04e1","type":"debug","z":"ee1a9216.12937","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":140,"wires":[]},{"id":"8a7dddc6.196c4","type":"trigger-state","z":"8d422126.121a1","name":"Вода в баке","server":"6962e153.99eb9","entityid":"sensor.xiaomi_humidifier_bedroom_water_level","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"q16dc4zg86","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":">=","comparatorValueDatatype":"str","comparatorValue":"20"},{"id":"044y73tr02ko","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"<","comparatorValueDatatype":"str","comparatorValue":"20"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"num","x":90,"y":60,"wires":[["cd4d6f37.f723d"],[]]},{"id":"cd4d6f37.f723d","type":"api-call-service","z":"8d422126.121a1","name":"Уведомление всем","server":"6962e153.99eb9","version":1,"service_domain":"notify","service":"all_notifiers","entityId":"","data":"{\"message\":\"Осталось мало воды в баке: {{payload}}%\",\"title\":\"Увлажнитель\",\"data\":{\"push\":{\"thread-id\":\"example-notification-group\",\"badge\":\"0\"}}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":330,"y":60,"wires":[[]]},{"id":"59dbd0fa.ea939","type":"inject","z":"ee1a9216.12937","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":340,"wires":[["790aef8d.b6b9a"]]},{"id":"790aef8d.b6b9a","type":"api-call-service","z":"ee1a9216.12937","name":"Send telegram msg to Pinkkoff","server":"6962e153.99eb9","version":1,"service_domain":"notify","service":"telegram_ha_pinkkoff","entityId":"","data":"{\"title\":\"*Тестовое сообщение*\",\"message\":\"Это сообщение пришло от Умного Дома.\\n Классно получилось?\",\"data\":{\"inline_keyboard\":[\"Володечка молодец:/command1, Ну такое...:/command2\"]}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":370,"y":340,"wires":[[]]},{"id":"c8690686.6cf0f8","type":"inject","z":"ee1a9216.12937","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":460,"wires":[["913b87d8.ff9698"]]},{"id":"913b87d8.ff9698","type":"api-call-service","z":"ee1a9216.12937","name":"Send telegram msg to All","server":"6962e153.99eb9","version":1,"service_domain":"notify","service":"telegram_ha_all","entityId":"","data":"{\"title\":\"*Тестовое сообщение*\",\"message\":\"Это сообщение пришло от *Умного Дома*.\\n Классно получилось?\",\"data\":{\"inline_keyboard\":[\"Володечка молодец:/command1, Ну такое...:/command2\"]}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":350,"y":460,"wires":[[]]},{"id":"c34dc6ee.735778","type":"inject","z":"ee1a9216.12937","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":400,"wires":[["9ad91ad8.f81a68"]]},{"id":"9ad91ad8.f81a68","type":"api-call-service","z":"ee1a9216.12937","name":"Send telegram msg to Fludshorty","server":"6962e153.99eb9","version":1,"service_domain":"notify","service":"telegram_ha_fludshorty","entityId":"","data":"{\"title\":\"*Тестовое сообщение*\",\"message\":\"Это сообщение пришло от *Умного Дома*. Классно получилось?.\",\"data\":{\"inline_keyboard\":[\"Володечка молодец:/command1, Ну такое...:/command2\"]}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":380,"y":400,"wires":[[]]},{"id":"7c1c29ec.41c5d8","type":"server-events","z":"ee1a9216.12937","name":"","server":"6962e153.99eb9","event_type":"telegram_callback","x":130,"y":80,"wires":[["92afee7d.b04e1"]]},{"id":"c377506d.8d0e4","type":"server-events","z":"ee1a9216.12937","name":"","server":"6962e153.99eb9","event_type":"telegram_text","x":120,"y":140,"wires":[["92afee7d.b04e1"]]},{"id":"9dcf9d63.a4ec7","type":"server-events","z":"ee1a9216.12937","name":"","server":"6962e153.99eb9","event_type":"telegram_command","x":140,"y":200,"wires":[["92afee7d.b04e1"]]},{"id":"e01357b0.94f858","type":"function","z":"ee1a9216.12937","name":"","func":"msg.payload = String(\"111 \\\\n 222\")\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":920,"wires":[["e8a191e6.4a12e","89d7ca7f.8a6c48"]]},{"id":"e8a191e6.4a12e","type":"api-call-service","z":"ee1a9216.12937","name":"Send telegram msg","server":"6962e153.99eb9","version":1,"service_domain":"notify","service":"telegram_ha_pinkkoff","entityId":"","data":"{\"message\":\"{{payload}}\",\"data\":{\"inline_keyboard\":[\"Володечка молодец:/command1, Ну такое...:/command2\"]}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":610,"y":880,"wires":[[]]},{"id":"5efc22ad.3ec50c","type":"inject","z":"ee1a9216.12937","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":920,"wires":[["e01357b0.94f858"]]},{"id":"89d7ca7f.8a6c48","type":"debug","z":"ee1a9216.12937","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":960,"wires":[]},{"id":"42f51315.87a1ec","type":"server-events","z":"8d422126.121a1","name":"","server":"6962e153.99eb9","event_type":"telegram_callback","x":130,"y":340,"wires":[["e271f256.4b363"]]},{"id":"e271f256.4b363","type":"switch","z":"8d422126.121a1","name":"Выбор chat_id","property":"payload.event.chat_id","propertyType":"msg","rules":[{"t":"else"}],"checkall":"true","repair":false,"outputs":1,"x":400,"y":180,"wires":[["d66d1eed.fcf28"]]},{"id":"d66d1eed.fcf28","type":"function","z":"8d422126.121a1","name":"Подготовка данных","func":"msg.payload = \n{\n    \"message_id\": Number(msg.payload.event.message.message_id),\n    \"chat_id\": Number(msg.payload.event.chat_id),\n    \"message_text\": msg.payload.event.message.text.replace(/\\n/g, '\\\\n')\n}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":180,"wires":[["7eadc5a4.b9d95c"]]},{"id":"7adcce9e.05936","type":"debug","z":"8d422126.121a1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1070,"y":180,"wires":[]},{"id":"7eadc5a4.b9d95c","type":"api-call-service","z":"8d422126.121a1","name":"Edit previous message","server":"6962e153.99eb9","version":1,"service_domain":"telegram_bot","service":"edit_message","entityId":"","data":"{\"message_id\":\"{{payload.message_id}}\",\"chat_id\":\"{{payload.chat_id}}\",\"message\":\"{{payload.message_text}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":860,"y":180,"wires":[["7adcce9e.05936"]]},{"id":"b981bdbd.e0c28","type":"comment","z":"8d422126.121a1","name":"Удаление кнопок при нажатии","info":"","x":450,"y":140,"wires":[]},{"id":"da3d1ddf.1c785","type":"server-events","z":"8d422126.121a1","name":"","server":"6962e153.99eb9","event_type":"telegram_command","x":140,"y":500,"wires":[["ce22c5f7.4b4868"]]},{"id":"ce22c5f7.4b4868","type":"switch","z":"8d422126.121a1","name":"","property":"payload.event.command","propertyType":"msg","rules":[{"t":"eq","v":"/поцелуй","vt":"str"},{"t":"eq","v":"/целуй","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":500,"wires":[["a7239212.c51ca"],["a7239212.c51ca"]]},{"id":"603720e8.f1aed","type":"debug","z":"8d422126.121a1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":500,"wires":[]},{"id":"a7239212.c51ca","type":"api-call-service","z":"8d422126.121a1","name":"Send telegram msg","server":"6962e153.99eb9","version":1,"service_domain":"notify","service":"telegram_ha_all","entityId":"","data":"{\"title\":\"*Выполнение команды*\",\"message\":\"Целую {{payload.event.args.0}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":530,"y":500,"wires":[["603720e8.f1aed"]]},{"id":"817d4e5d.95921","type":"comment","z":"ee1a9216.12937","name":"Прослушка телеграм эвентов","info":"","x":150,"y":40,"wires":[]},{"id":"ab70c06a.cbb9","type":"comment","z":"ee1a9216.12937","name":"Отправка телеграм сообщений","info":"","x":150,"y":300,"wires":[]},{"id":"a4eb1569.fab608","type":"function","z":"6169ae85.ebde","name":"Подготовка данных","func":"msg.payload = \n{\n    \"message_id\": Number(msg.payload.event.message.message_id),\n    \"chat_id\": Number(msg.payload.event.chat_id),\n    \"message_text\": msg.payload.event.message.text.replace(/\\n/g, '\\\\n')\n}\nreturn msg;","outputs":1,"noerr":0,"x":120,"y":380,"wires":[["ab24e64f.b73608"]]},{"id":"ab24e64f.b73608","type":"api-call-service","z":"6169ae85.ebde","name":"Edit previous message","server":"6962e153.99eb9","version":1,"service_domain":"telegram_bot","service":"edit_message","entityId":"","data":"{\"message_id\":\"{{payload.message_id}}\",\"chat_id\":\"{{payload.chat_id}}\",\"message\":\"{{payload.message_text}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":360,"y":380,"wires":[[]]},{"id":"ed7c6eda.b07c4","type":"comment","z":"6169ae85.ebde","name":"Подготовка данных для отправки в телеграм","info":"","x":200,"y":340,"wires":[]},{"id":"509e4168.6acee","type":"comment","z":"8d422126.121a1","name":"Команды поцелуев","info":"","x":110,"y":460,"wires":[]},{"id":"4ea9367b.2244a8","type":"ha-get-entities","z":"ee1a9216.12937","server":"6962e153.99eb9","name":"Все entities","rules":[{"property":"entity_id","logic":"does_not_include","value":"xiaomi","valueType":"str"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":730,"y":260,"wires":[["383ab7bd.984c08"]]},{"id":"383ab7bd.984c08","type":"switch","z":"ee1a9216.12937","name":"Статусы батареек","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"cont","v":"battery","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":910,"y":260,"wires":[["126baf6.0768351"]]},{"id":"126baf6.0768351","type":"debug","z":"ee1a9216.12937","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.entity_id","targetType":"msg","x":1120,"y":260,"wires":[]},{"id":"c1e6b0c6.2ef5e","type":"inject","z":"ee1a9216.12937","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":580,"y":260,"wires":[["4ea9367b.2244a8"]]},{"id":"b74d9780.a3f128","type":"comment","z":"ee1a9216.12937","name":"Фильтр батареек","info":"","x":580,"y":220,"wires":[]}]